.Navbar-cont {
    padding-left: 50px;
    padding-right: 50px;
    background-color: #fff;
  }
  
  .Navbar-flex-cont {
    padding: 25px;
    display: flex;
    align-content: center;
  }
  
  .Navbar-empty-flex {
    flex: 1;
  }
  
  .Navbar-logo {
    display: flex; /* Use flex to align image and text side by side */
    align-items: center; /* Center vertically within the .Navbar-logo div */
  }
  
  .Navbar-logo img {
    max-width: 100px; /* Adjust the maximum width to your preference */
    height: 40px;
    margin-right: -5px; /* Add spacing between the image and the h1 */
  }
  
  .Navbar-logo h1 {
    margin: 0;
    font-size: 20px;
  }
  
  .Navbar-flex-cont ul {
    list-style: none;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
    font-size: 16px;
  }
  
  .Navbar-contents {
    position: relative;
    padding: 0.6em;
    border-radius: 1.2em;
    display: flex;
    text-align: center;
    width: fit-content;
    z-index: 100;
  }
  
  .Navbar-flex-cont ul li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .login-register
  {
    margin-top: auto;
    margin-bottom: auto;
    padding:10px;
    border-radius: 0.6em;
    border: 1px black solid;
    background-color:#fff;
    color: #000;
<<<<<<< HEAD
  }
  a
  {
    text-decoration: none;
    color: inherit;
=======
    z-index: 100;
>>>>>>> 7e7d8204b34f71be76a9bd53a690a963ae8cc562
  }