.Navbar-cont
{
  padding-left:50px;
  padding-right:50px;
  background-color: #fff;
}

.Navbar-flex-cont
{
    padding:30px;
    display:flex;
    align-content:space-between;
}

.Navbar-empty-flex
{
    flex:1;
}

.Navbar-logo
{
    width: fit-content;
}
.Navbar-logo h1
{
    margin:0;
    font-size: 20px;
}

.Navbar-flex-cont ul
{
    list-style: none;
    margin-top:auto;
    margin-bottom:auto;
    padding:0;
    font-size:16px;
}
.Navbar-contents
{
    display:flex;
    text-align: center;
    width: fit-content;
}
.Navbar-flex-cont ul li
{
    display:inline;
    padding-right:20px;    
}

