body {
  margin: 0;
  font-family:'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Inter', sans-serif;
}

:root {
  --primary-color: #fff;
  --secondary-color: #705AF8;
  --font-family:'Inter', sans-serif;
  --heading-buy-sell:50px;
}

